@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Neutral */
  --white: hsla(0, 0%, 100%, 1);
  --blue: hsla(222.74, 100%, 57.06%, 1);
  --blue-transparent: hsla(207, 73%, 57.06%, 0.6);
  --dark-navy: hsla(250, 68.57%, 27.45%, 1);
}

body {
  font-family: "Mouse Memoirs", sans-serif;
  background: url("/images/background-desktop.svg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

button {
  cursor: pointer;
  font-family: "Mouse Memoirs", sans-serif;
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 375px) {
}
