@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Neutral */
  --white: hsla(0, 0%, 100%, 1);
  --blue: hsla(222.74, 100%, 57.06%, 1);
  --dark-navy: hsla(250, 68.57%, 27.45%, 1);
}

body {
  font-family: "Mouse Memoirs", sans-serif;
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 375px) {
}
